<div class="main">
    <div class="head">
        <img src="https://in.hotels.com/_dms/header/logo.svg?locale=en_IN&siteid=300000036&2" class="logo">

    </div>
    <div style=" display:flex;flex-wrap:wrap;justify-content:center;margin-left: 75rem ;gap:10px;">
        <div class="sign">
            <a class="link" routerLink="auth/signup" style="text-decoration: none;color:brown;font-weight: 500;">signup</a>
        </div>
        <div class="sign">
            <a class="link" routerLink="auth/signin" style="text-align:right;text-decoration: none;color:brown;font-weight: 500;">signin</a>

        </div>
    </div>
</div>

