<!-- <div>
    <div >
        <ul style="display: flex;flex-wrap: wrap;align-items: center; gap:20px">
            <h1 style="color:blue">expedia group</h1>
            <p>Top Destinations</p> 
            <p>Top countries & regions</p> 
            <p>Support & FAQs</p> 
            <p> For suppliers, affiliates and the media</p> 
            <p>Policies</p> 
            <p>Other information</p> 
        </ul>
    </div>
</div> -->


<table style="width:100%">
    <tr>
        <td>
            <h1 style="color:blue">expedia group</h1>
        </td>
        <td>Top Destinations</td>
        <td>Top countries & regions</td>
        <td>Support & FAQs</td>
        <td>For suppliers, affiliates and the media</td>
        <td>Policies</td>
        <td>Other information</td>
    </tr>
    <tr>
        <td></td>
        <td><a href="">Hotels in Dubai </a></td>
        <td><a href="">Hotels in Maldives </a></td>
        <td><a href="">Your Bookings </a></td>
        <td><a href="">Affiliate with us </a></td>
        <td><a href="">Terms and Conditions</a></td>
        <td><a href="">About us </a></td>


    </tr>
    <tr>
        <td></td>
        <td><a href="">Hotels in Paris </a></td>
        <td><a href="">Hotels in Singapore </a></td>
        <td><a href="">FAQs </a></td>
        <td><a href="">Expedia Partner Solutions</a></td>
        <td><a href="">Privacy</a></td>
        <td><a href="">Carriers</a></td>
    </tr>
</table>


<div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
        <a href="#!" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
            <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    <!-- Right -->
</div>