#one{
    height:24rem;
    width:25rem;
    
    border:3px solid white;
}
.two{
    height:12rem;
    width:25rem;
  
    border:3px solid white;
}

.three{
    height:12rem;
    width:25rem;
    
    border:3px solid white;
}

#image{
    height :24rem;
    width:25rem;
    border:3px solid white;
}
.myimg{
    height:12rem;
    width:25rem; 
    border:3px solid white;
}

.mainDiv{
    display:flex ;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    
}