<app-header></app-header>


    <div class="mainDiv">
        <div id="one"> <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="" id="image">
        </div>
        <div>
            <div class="two"><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt=""
                    class="myimg"></div>
            <div class="two" ><img
                    src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="" class="myimg">
            </div>
        </div>
        <div>
            <div class="three"><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt=""
                    class="myimg"></div>
            <div class="three" ><img
                    src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="" class="myimg">
            </div>
        </div>
    </div>
    <div>
    




    </div>
